Repository nl253/nlp-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Test, BuildAndDeploy

.gitlab-ci.yml:

default:
  image: ubuntu:latest

Test:
  stage: test
  only:
    changes:
      - '*/app.js'
      - '*/event.json'
      - '*/package.json'
      - '*/tests/unit/*.test.js'
  script:
    - |
      export AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
      export AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
      apt update
      apt install -y curl
      curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.35.3/install.sh | bash
      export NVM_DIR="$HOME/.nvm"
      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
      nvm install 12
      nvm use 12
      for i in *; do
        if [[ -f ./$i/tests/unit/app.test.js ]]; then
          cd ./$i
          npm install
          npm test || exit 1
          rm -r -f node_modules
          cd ..
        fi
      done

BuildAndDeploy:
  stage: deploy
  image: python:3.8
  only:
    refs:
      - develop
    changes:
      - '*/app.js'
      - '*/package.json'
      - '*.json'
      - '*.yml'
      - '*.yaml'
  artifacts:
    paths:
      - .aws-sam/build
  needs:
    - Test
  before_script:
    - pip3 install awscli --upgrade
    - pip3 install aws-sam-cli --upgrade
  script:
    - sam build
    - sam package
    - sam deploy

Fix CI/CD config
  .gitlab-ci.yml
Due: BuildAndDeploy

Fix CI/CD config
  samconfig.toml
Due: none

Fix CI/CD config
  terms/event.json
Due: Test

Split BuildAndDeploy
  .gitlab-ci.yml
Due: BuildAndDeploy

Ensure changes to gitlab-ci trigger CI/CD
  .gitlab-ci.yml
Due: BuildAndDeploy

Change order of jobs
  .gitlab-ci.yml
Due: BuildAndDeploy

Change aritfacts bundling
  .gitlab-ci.yml
Due: BuildAndDeploy

Add artifact expiry date
  .gitlab-ci.yml
Due: BuildAndDeploy

Expose artifact in PRs
  .gitlab-ci.yml
Due: BuildAndDeploy

Set cache key per branch
  .gitlab-ci.yml
Due: BuildAndDeploy

Remove tests from the artifact
  .gitlab-ci.yml
Due: BuildAndDeploy

Add postman integration tests
  .gitlab-ci.yml
  dev.postman_environment.json
  local.postman_environment.json
  package.json
  postman.json
  prd.postman_environment.json
Due: BuildAndDeploy

Add assertions
  postman.json
Due: BuildAndDeploy

Inject postman tests, improve assertions
  .gitlab-ci.yml
  postman-tests.js
  postman.json
  scripts/postman-tests-inject.js
Due: BuildAndDeploy

Convert URL to String
  postman-tests.js
Due: none

Cause gitlab CI/CD to be triggered by changes to postman-tests
  .gitlab-ci.yml
Due: BuildAndDeploy

Convert string[] -> string
  postman-tests.js
Due: none

Fix undefined expect
  postman-tests.js
Due: none

Increase reponse time in tests
  postman-tests.js
Due: none

Add PRD deployment
  .gitlab-ci.yml
Due: BuildAndDeploy

Add NVM cache, increase response time
  .gitlab-ci.yml
  postman-tests.js
Due: BuildAndDeploy

Change cache policy
  .gitlab-ci.yml
Due: BuildAndDeploy

Simplify CI/CD using includes
  .gitlab-ci.yml
Due: BuildAndDeploy

Fix include syntax for arrays
  .gitlab-ci.yml
Due: BuildAndDeploy
